{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <a href="albums" class="btn btn-secondary">Add Album</a>
    {% endif %}
    <h2 class="centred">Albums</h2>
    <table class="styled-table" align="middle">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Duration</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in lst %}
            <tr class="active-row">
                <td>{{item["album"]["title"]}}</td>
                <td>{{item["artist"]}}</td>
                <td>{{item["duration"]}}</td>
                <td>
                    {% if current_user.is_authenticated%}
                <div align="right">
                    <a href="/albums/{{ item['album'].id }}" class="btn btn-warning">
                        Change
                    </a>
                    <a href="/albums_delete/{{ item['album'].id }}" class="btn btn-danger">
                        Delete
                    </a>
                </div>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}