{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <a href="artists" class="btn btn-outline-secondary">Add artist</a>
    {% endif %}
    <h2></h2>
    <h2 class="centred">Artists</h2>
    <table class="styled-table" align="middle">
        <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>Albums count</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in artists %}
            <tr class="active-row">
                <td>{{item["artist"].id}}</td>
                <td><h4>{{item["artist"].name}}</h4></td>
                <td>{{item["albums"]}}</td>
                <td>
                    {% if current_user.is_authenticated%}
                <div align="right">
                    <a href="/artists/{{ item['artist'].id }}" class="btn btn-warning">
                        Change
                    </a>
                    <a href="/artists_delete/{{ item['artist'].id }}" class="btn btn-danger">
                        Delete
                    </a>
                </div>
                {% endif %}
                </td>
            </tr>
            {% endfor %}


        </tbody>
    </table>
{% endblock %}