{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
    {% endif %}
    <h2></h2>
    <h2 class="centred">Artists</h2>
    <table class="styled-table" align="middle">
        <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>Albums count</th>
            </tr>
        </thead>
        <tbody>
            {% for item in artists %}
            <tr class="active-row">
                <td>{{item["artist"].id}}</td>
                <td>{{item["artist"].name}}</td>
                <td>{{item["albums"]}}</td>
            </tr>
            {% endfor %}


        </tbody>
    </table>
{% endblock %}