{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <a href="genres" class="btn btn-outline-secondary">Add genre</a>
    {% endif %}
    <h1 class="centred">Genres</h1>
    <table class="styled-table" align="middle">
        <tbody>
            {%for item in genres%}
            <tr class="active-row">
                <td><h3> - {{item.name}}</h3></td>
                    {% if current_user.is_authenticated%}
                <td>
                <div align="right">
                    <a href="/genres/{{ item.id }}" class="btn btn-warning">
                        Change
                    </a>
                    <a href="/genres_delete/{{ item.id }}" class="btn btn-danger">
                        Delete
                    </a>
                </div>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}