{% extends "base.html" %}

{% block content %}

<h1><br></h1>
<h1 class="centred">MUSIC HALL</h1>
<div style="width: 70%;margin-left: auto;margin-right: auto;">
    <h5><p>Небольшая база данных в открытом доступе, содержащая в себе
        информацию о музыкальных исполнителях, жанрах, альбомах и произведниях.
    </p>
    <p>Работать с базой данных могут только зарегистрированные пользователи.</p>
    <p>Удалять, добавлять, редактировать информацию может абсолюно любой зарегистрированный пользователь, вне зависимости
    от своего положения и намерений. Администрация искренне рассчиывает на серьезность и рассудительность пользоваелей.
    </p>
    </h5>
    <h3 class="centred">
    <p>Цените свой и чужой труд!</p>
    </h3>
    <img src="/static/img/guitar.png" align="bottom" style="height:70vh;margin-left: auto;margin-right: auto;">
</div>


{% endblock %}

