{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <a href="tracks" class="btn btn-outline-secondary">Add Track</a>
    {% endif %}
    <h1 class="centred"><br>Tracks</h1>
    <table class="styled-table" align="middle">
        <thead>
            <tr>
                <th>Name</th>
                <th>Album</th>
                <th>Artist</th>
                <th>Duration</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in tracks %}
            <tr class="active-row">
                <td><h5>{{item["track"].name}}</h5></td>
                                <td>
                    <a href="/album_info/{{item['album'].id}}" type="button" class="btn btn-light">{{item["album"].title}}</a>
                </td>
                <td>{{item["artist"].name}}</td>
                <td>{{item["track"].seconds}} sec.</td>
                <td>
                    {% if current_user.is_authenticated%}
                <div align="right">
                    <a href="/tracks/{{ item['track'].id }}" class="btn btn-warning">
                        Change
                    </a>
                    <a href="/tracks_delete/{{ item['track'].id }}" class="btn btn-danger">
                        Delete
                    </a>
                </div>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}